.header {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    padding: 1% 2%;
    background-color: #1c1c1c;
    width: 96%;
    color: white;
    position: absolute;

    > h3 {
        cursor: pointer;

        &:hover {
            opacity: 0.8;
        }
    }
}
