<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>M8</title>
</head>

<body>
    <div id="root"></div>
</body>
<script>
    window.electron.ipcRenderer.once('ipc-example', console.log);
    window.electron.ipcRenderer.myPing();

    if (window.location.pathname === "/index.html") window.location.replace("/");
</script>

</html>
